:root {
    --deep-blue: rgb(0, 71, 137);
    /* --mobile-background-pic-height: calc(100vh - 65px); */
    --background-pic-height: calc(100vh - 72px);
}

@font-face {
    font-family: "worksans";
    src: url("WorkSans/WorkSans-Medium.ttf")
}

body {
    font-family: "worksans", sans-serif;
    /* padding: 0px; */
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

/********** Page 1 **********/

#page1 {
    margin: 0px;
    height: var(--background-pic-height);
    border: dashed black 1px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

img#background-pic {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0; */
    z-index: -1;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    /* object-position: 60% 19%; */
    /* up to a point */
    /* height: 95vh; */
}


a.learn-more {
    border-bottom: 1px solid;
    border-bottom-color: currentColor;
    display: block;
    width: fit-content;

    transition: all 0.5s;
}
a.learn-more:hover {
    color: var(--deep-blue);
    border-color: var(--deep-blue);
    font-size: 1.5rem;
}

a#lm1.learn-more::after {
    /* make white */
    filter: invert(100%) sepia(30%) saturate(0%) hue-rotate(233deg) brightness(106%) contrast(100%);
}

a.learn-more::after {
    content: "";
    display: inline-block;
    background: url(/assets/arrow_right.svg) no-repeat;
    background-size: auto;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}



#first-words {
    margin: 2rem;
    color: white;
    height: 100%;
    grid-column-start: 3;
    grid-row-start: 2;
    font-size: 1.25rem;
}

#short-tagline {
    font-size: 3rem;
    text-shadow: 0 4px 4px rgba(0,0,0,.5);
}

#long-tagline {
    text-shadow: 0 4px 4px rgba(0,0,0,.5);
}

/********** Page 2 **********/

#page2 article {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#page2 article img {
    width: 400px;
    border-radius: 5px;
    filter: drop-shadow(5px -5px 2px rgba(0, 0, 0, 0.5));
}

#page2 article div {
    width: 400px;
}

#page2 h2 {
    margin: 0;
    font-weight: 700;
    font-size: 4rem;

    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px  #090a0a;
    text-shadow: 1px 1px 0px var(--deep-blue);
}

article#engineers {
    flex-direction: row-reverse;
}

/********** Header **********/

header {
    margin: 0px;
    background-color: white;
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
    border: dashed red 1px;
    text-align: center;
}

header * {
    flex-grow: 1;
}
header a {
    transition: transform 0.1s;
    display: block; /* to get scale to work */
}
header a:hover {
    transform: scale(1.25);
    /* happens instantly */
    /* font-size: 1.25rem; */
}
#space-left {
    flex-grow: 2;
}

#space-right {
    flex-grow: 2;
}

button#donate {
    border: 0;
    background-color: var(--deep-blue);
    font: inherit;
    padding: 0.6rem 2rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/***************************************** Media **********************/

@media screen and (max-width: 300px) {
    #background-pic {
        /* height: var(--background-pic-height); */
        /* height: 100vh; */
        display: none;
    }
}

/* about us */

button#apply {
    display: block;
}

/********** Our Team **********/
img#atep {
    z-index: -1;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: 75% 50%;
}
#members {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 50px;
    margin: auto;
}
#members article img {
    max-width: 200px;
    max-height: 200px;
}
#members article {
    text-align: center;
    flex: 1 1 10%;
}

#members article img:hover {
    filter: brightness(1.1);
    transform: scale(1.02);
    transition-property: transform, filter;
    transition-duration: 0.4s, 0.4s;
}

.subpage-title {
    text-align: center;
}

.subpage-title h1 {
    margin: 0;
    font-size: 6rem;

    position: relative;
    top: -4rem;
    font-style: italic;
    -webkit-text-stroke: 1px #090a0a;
    color: transparent;
    text-shadow: 2px 2px 0px var(--deep-blue);

    animation: bounceInUp 1s;
    animation-play-state: running;
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(0, 3000px, 0) scaleY(5);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, -20px, 0) scaleY(0.9);
    }
  
    75% {
      transform: translate3d(0, 10px, 0) scaleY(0.95);
    }
  
    90% {
      transform: translate3d(0, -5px, 0) scaleY(0.985);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    animation-name: bounceInUp;
  }